<p> Dati Preospedalieri : </p>

<p *ngIf="preh.territorialArea">Area territoriale : {{preh.territorialArea}}</p>
<p *ngIf="preh.isCarAccident">Incidente stradale : {{preh.isCarAccident}}</p>
<p *ngIf="preh.aValue">A Value : {{preh.aValue}}</p>
<p *ngIf="preh.bPleuralDecompression">Decompressione Pleurica : {{preh.bPleuralDecompression}}</p>
<p *ngIf="preh.cBloodProtocol">Protocollo Sangue : {{preh.cBloodProtocol}}</p>
<p *ngIf="preh.cTpod">T-POD : {{preh.cTpod}}</p>
<p *ngIf="preh.dGcsTotal">GCS Totale : {{preh.dGcsTotal}}</p>
<p *ngIf="preh.dAnisocoria">Anisocoria : {{preh.dAnisocoria}}</p>
<p *ngIf="preh.dMidriasi">Midriasi : {{preh.dMidriasi}}</p>
<p *ngIf="preh.eMotility">Paraparesi/Tetraparesi : {{preh.eMotility}}</p>
<p *ngIf="preh.worstBloodPressure">Peggiore PAS misurata : {{preh.worstBloodPressure}}</p>
<p *ngIf="preh.worstRespiratoryRate">Peggiore Frequenza Respiratoria misurata : {{preh.worstRespiratoryRate}}</p>	