<p> <span class="title">Dati Preospedalieri </span>: </p>

<p *ngIf="preh.territorialArea"> <span class="title-data">Area territoriale</span> : {{preh.territorialArea}}</p>
<p *ngIf="preh.isCarAccident"> <span class="title-data">Incidente stradale</span> : {{preh.isCarAccident}}</p>
<p *ngIf="preh.aValue"> <span class="title-data">A Value</span> : {{preh.aValue}}</p>
<p *ngIf="preh.bPleuralDecompression"> <span class="title-data">Decompressione Pleurica</span> : {{preh.bPleuralDecompression}}</p>
<p *ngIf="preh.cBloodProtocol"> <span class="title-data">Protocollo Sangue</span> : {{preh.cBloodProtocol}}</p>
<p *ngIf="preh.cTpod"> <span class="title-data">T-POD</span> : {{preh.cTpod}}</p>
<p *ngIf="preh.dGcsTotal"> <span class="title-data">GCS Totale</span> : {{preh.dGcsTotal}}</p>
<p *ngIf="preh.dAnisocoria"> <span class="title-data">Anisocoria</span> : {{preh.dAnisocoria}}</p>
<p *ngIf="preh.dMidriasi"> <span class="title-data">Midriasi</span> : {{preh.dMidriasi}}</p>
<p *ngIf="preh.eMotility"> <span class="title-data">Paraparesi/Tetraparesi</span> : {{preh.eMotility}}</p>
<p *ngIf="preh.worstBloodPressure"> <span class="title-data">Peggiore PAS misurata</span> : {{preh.worstBloodPressure}}</p>
<p *ngIf="preh.worstRespiratoryRate"> <span class="title-data">Peggiore Frequenza Respiratoria misurata</span> : {{preh.worstRespiratoryRate}}</p>	