*/node_modules/*
*/.gradle/*
*/.idea/*

astraRoomAssistant/bin/
ASTRARoomManager/build/
ASTRARoomManager/bin/

*/node_modules/
*/.gradle/
*/.idea/

/node_modules/*
/.gradle/*
/.idea/*

/node_modules/
/.gradle/
/.idea/

DisplaySample/node_modules/*
DisplaySample/.gradle/*
DisplaySample/.idea/*

DisplaySample/display-client/node_modules/
DisplaySample/display-client/README.md
DisplaySample/display-client/public

AlexaInputHandler/node_modules/*
AlexaInputHandler/.gradle/*
AlexaInputHandler/.idea/*

SourceSample/node_modules/*
SourceSample/.gradle/*
SourceSample/.idea/*

DisplaySample/node_modules/
DisplaySample/.gradle/
DisplaySample/.idea/


AlexaInputHandler/node_modules/
AlexaInputHandler/.gradle/
AlexaInputHandler/.idea/

SourceSample/node_modules/
SourceSample/.gradle/
SourceSample/.idea/

node_modules/

