*/node_modules/*
*/.gradle/*
*/.idea/*

astraRoomAssistant/bin/
ASTRARoomManager/build/
ASTRARoomManager/bin/
ASTRARoomManager/out/

*/node_modules/
*/.gradle/
*/.idea/

/node_modules/*
/.gradle/*
/.idea/*

/node_modules/
/.gradle/
/.idea/

Display/socket-server/node_modules/*
Display/socket-server/node_modules/

Display/socket-app/node_modules/
Display/socket-app/node_modules/*
DisplaySample/socket-app/README.md
Display/socket-app/node_modules/.gitignore

AlexaInputHandler/node_modules/*
AlexaInputHandler/.gradle/*
AlexaInputHandler/.idea/*

SourceSample/node_modules/*
SourceSample/.gradle/*
SourceSample/.idea/*

RoomCommandManager/node_modules/*
RoomCommandManager/.gradle/*
RoomCommandManager/.idea/*

RoomCommandManager/node_modules/
RoomCommandManager/.gradle/
RoomCommandManager/.idea/

AlexaInputHandler/node_modules/
AlexaInputHandler/.gradle/
AlexaInputHandler/.idea/

SourceSample/node_modules/
SourceSample/.gradle/
SourceSample/.idea/

node_modules/

