extends layout

block content
  h1 ASTRA - Augmented Spaces for TRauma Assistance
  p Welcome to ASTRA Project. This is an example service for data retrieval from an external resource.
  p Info about the project can be found at this page: 
  br
  a(href="https://github.com/manuBottax/ASTRARoomManager") ASTRA Project on Github
