
<h3> ASTRA Command Monitor </h3>

<div> Stato dei comandi ricevuti </div>	

<div class="row">
	Totale comandi ricevuti : {{commandTotalAmount}}
</div>

<div class="row">
	Comandi in attesa : {{pendingCommandList.length}}
</div>

<div class="row">
	Comandi in esecuzione : {{processingCommandList.length}} | Tempo di accettazione Medio : {{avgAcceptTime}} sec | Tempo di accettazione Massimo : {{maxAcceptTime}} sec
</div>

<div class="row">
	Comandi completati : {{completedCommandList.length}} | Durata Media : {{avgCompletionTime}} sec | Durata Massima : {{maxCompletionTime}} sec
</div>

<div class="row">
	Comandi rifiutati : {{failedCommandList.length}} | Durata Media : {{avgFailureTime}} sec | Durata Massima : {{maxFailureTime}} sec
</div>

