<p> Informazioni sul Trauma : </p>

<div class="row">
    <div class="col-3" *ngIf="traumaInfo.code"> Codice PS : {{traumaInfo.code}}</div>
    <div class="col-3" *ngIf="traumaInfo.sdo">Codice SDO : {{traumaInfo.sdo}}</div>
    <div class="col-3" *ngIf="traumaInfo.name">Nome : {{traumaInfo.name}}</div>
    <div class="col-3" *ngIf="traumaInfo.surname">Cognome : {{traumaInfo.surname}}</div>
    <div class="col-4" *ngIf="traumaInfo.gender">Genere : {{traumaInfo.gender}}</div>
    <div class="col-4" *ngIf="traumaInfo.dob">Data di nascita : {{traumaInfo.dob}}</div>
    <div class="col-4"*ngIf="traumaInfo.age">Età : {{traumaInfo.age}}</div>
</div>

<div class="row">
    <div class="col-4" *ngIf="traumaInfo.accidentDate">Data dell’incidente : {{traumaInfo.accidentDate}}</div>
    <div class="col-4" *ngIf="traumaInfo.accidentTime">Ora dell’incidente : {{traumaInfo.accidentTime}}</div>
    <div class="col-4" *ngIf="traumaInfo.accidentType">Tipo di incidente : {{traumaInfo.accidentType}}</div>
</div>

<div class="row">
    <div class="col-3" *ngIf="traumaInfo.admissionCode">Codice Ammissione in PS : {{traumaInfo.admissionCode}}</div>
    <div class="col-3" *ngIf="traumaInfo.vehicle">Veicolo di arrivo in PS : {{traumaInfo.vehicle}}</div>
    <div class="col-3" *ngIf="traumaInfo.fromOtherEmergency">Provenienza da altro PS : {{traumaInfo.fromOtherEmergency}}</div>
    <div class="col-3" *ngIf="traumaInfo.otherEmergency && traumaInfo.fromOtherEmergency">PS di provenienza : {{traumaInfo.otherEmergency}}</div>
    <div class="col-3" *ngIf="traumaInfo.erDeceased">Paziente deceduto in PS : {{traumaInfo.erDeceased}}</div>
</div>

<div class="row" *ngIf="traumaInfo.majorTraumaCriteria">  
    Major Trauma Criteria : 
    <ul>
        <li>Dinamico : {{traumaInfo.majorTraumaCriteria.dynamic}}</li>
        <li>Fisiologico : {{traumaInfo.majorTraumaCriteria.physiological}}</li>
        <li>Anatomico : {{traumaInfo.majorTraumaCriteria.anatomical}}</li>
    </ul>
</div>

<div class="row"  *ngIf="traumaInfo.anamnesi">  
    Anamnesi : 
    <ul>
        <li>Antiaggreganti : {{traumaInfo.anamnesi.antiplatelets}}</li>
        <li>Anticoagulanti : {{traumaInfo.anamnesi.anticoagulants}}</li>
        <li>NAO : {{traumaInfo.anamnesi.nao}}</li>
    </ul>
</div>
