
<div class ="row">

    <span class="title-data"> Evento # {{event.eventId}} - {{event.date}} {{event.time}} @ {{event.place}} </span>| 

    <div class="row" *ngIf="event.type == 'procedure'">
        <span *ngIf="event.content.procedureType == 'time-dependent'">
            <span class="italic" *ngIf="event.content.event == 'start'">Inizio </span>
            <span class="italic" *ngIf="event.content.event == 'end'">Fine </span>
        </span>
        
        <span class="italic">Procedura # {{event.content.procedureId}} : {{event.content.procedureDescription}} ({{event.content.procedureType}})</span>
        
        <div *ngIf="event.content.procedureId == 'intubation'">

            Dettagli intubazione :

            <div class="row">

                <div class="col-6"> Vie Aeree Difficili : {{event.content.difficultAirway}} </div>
                <div class="col-6"> Inalazione : {{event.content.inhalation}} </div>
                <div class="col-6"> Videolaringo : {{event.content.videolaringo}} </div>
                <div class="col-6"> Frova : {{event.content.frova}} </div>

            </div>

        </div>

        <div class="row" *ngIf="event.content.procedureId == 'drainage'">

            Dettagli Drenaggio : 

            <div class="col-6"> Destro : {{event.content.right}} </div>
            <div class="col-6"> Sinistro : {{event.content.left}} </div>

        </div>

        <div class="row" *ngIf="event.content.procedureId == 'chest-tube'">

            Dettagli Decompressione Pleurica : 

            <div class="col-6"> Destra : {{event.content.right}} </div>
            <div class="col-6"> Sinistra : {{event.content.left}} </div>

        </div>
    </div>
    
    <div *ngIf="event.type == 'diagnostic'">

        <span class="italic">Diagnostica # {{event.content.diagnosticId}} : {{event.content.diagnosticDescription}}</span>

        <div class="row" *ngIf="event.content.diagnosticId == 'abg'">

            Dettagli ABG : 

            <div class="col-6"> Lattati : {{event.content.lactates}} </div>
            <div class="col-6"> BE : {{event.content.be}} </div>
            <div class="col-6"> PH : {{event.content.ph}} </div>
            <div class="col-6"> HB : {{event.content.hb}} </div>

        </div>

        <div class="row" *ngIf="event.content.diagnosticId == 'rotem'">

            Dettagli Rotem : 

            <div class="col-6"> Fibtem : {{event.content.fibtem}} </div>
            <div class="col-6"> Extem : {{event.content.extem}} </div>
            <div class="col-6"> Iperfibrinolisi : {{event.content.hyperfibrinolysis}} </div>

        </div>
    </div>

    
    <div *ngIf="event.type == 'drug'">

        <span class="italic">Farmaco # {{event.content.drugId}} : {{event.content.drugDescription}} ({{event.content.administrationType}})</span>

        <div class="row" *ngIf="event.content.administrationType == 'one-shot' || event.content.administrationType == 'continuous-infusion'">
            <div *ngIf="event.content.administrationType == 'continuous-infusion'">
                <span *ngIf="event.content.event == 'start'">Inizio Somministrazione di {{event.content.qty}} {{event.content.unit}}</span>
                <span *ngIf="event.content.event == 'variation'">Variazione Somministrazione : {{event.content.qty}} {{event.content.unit}}</span>
                <span *ngIf="event.content.event == 'stop'">Fine Somministrazione dopo {{event.content.duration}}</span>
            </div>

            <div *ngIf="event.content.administrationType == 'one-shot'">
                Somministrati {{event.content.qty}} {{event.content.unit}}
            </div>
        </div>
    </div>

    
    <div *ngIf="event.type == 'blood-product'">

        <span class="italic">Emoderivato # {{event.content.bloodProductId}} : {{event.content.bloodProductDescription}} ({{event.content.administrationType}})</span>

        <div class="row" *ngIf="event.content.administrationType == 'one-shot'">
            
            Somministrati {{event.content.qty}} {{event.content.unit}}
            
            <span *ngIf="event.content.bloodProductId == 'emazies' || event.content.bloodProductId == 'platelets' || event.content.bloodProductId == 'fresh-frozen-plasma'">
                 (Sacca n° {{event.content.bagCode}})
            </span>

        </div>
    </div>

    
    <div class="italic" *ngIf="event.type == 'room-in'">

        Ingresso in 
        
        <span *ngIf="event.content.place == 'TRANSPORT'"> Trasporto </span>
        <span *ngIf="event.content.place == 'PRE-H'"> PRE-H </span>
        <span *ngIf="event.content.place == 'Shock-Room'"> Shock-Room </span>
        <span *ngIf="event.content.place == 'ER_CT'"> TAC PS </span>
        <span *ngIf="event.content.place == 'GENERAL_OPERATING_ROOM'"> Sala Operatoria: Blocco </span>
        <span *ngIf="event.content.place == 'NEUROSURGERY_OPERATING_ROOM'"> Sala Operatoria: Neurochirurgia </span>
        <span *ngIf="event.content.place == 'ORTOPEDICAL_OPERATIG_ROOM'"> Sala Operatoria: Ortopedia </span>
        <span *ngIf="event.content.place == 'ANGIOGRAPHIC_ROOM'"> Sala Angiografica </span>
        <span *ngIf="event.content.place == 'ICU_1'"> Terapia Intensiva: TI-1 </span>
        <span *ngIf="event.content.place == 'ICU_2'"> Terapia Intensiva: TI-2 </span>

    </div>
    
    <div class="italic" *ngIf="event.type == 'room-out'">

        Uscita da 
        
        <span *ngIf="event.content.place == 'TRANSPORT'"> Trasporto </span>
        <span *ngIf="event.content.place == 'PRE-H'"> PRE-H </span>
        <span *ngIf="event.content.place == 'Shock-Room'"> Shock-Room </span>
        <span *ngIf="event.content.place == 'ER_CT'"> TAC PS </span>
        <span *ngIf="event.content.place == 'GENERAL_OPERATING_ROOM'"> Sala Operatoria: Blocco </span>
        <span *ngIf="event.content.place == 'NEUROSURGERY_OPERATING_ROOM'"> Sala Operatoria: Neurochirurgia </span>
        <span *ngIf="event.content.place == 'ORTOPEDICAL_OPERATIG_ROOM'"> Sala Operatoria: Ortopedia </span>
        <span *ngIf="event.content.place == 'ANGIOGRAPHIC_ROOM'"> Sala Angiografica </span>
        <span *ngIf="event.content.place == 'ICU_1'"> Terapia Intensiva: TI-1 </span>
        <span *ngIf="event.content.place == 'ICU_2'"> Terapia Intensiva: TI-2 </span>

    </div>
    
    <div class="italic" *ngIf="event.type == 'patient-accepted'">
        Paziente Accettato.
    </div>

</div>
