
<div *ngIf="displayStatus == 'active'">
  <div class="row"> 
    <h1 class ="title">ASTRA Shock Room Display</h1> 
  </div>
  <div class="row data-container justify-content-around"> 
    <div class="col-3 static-data-container"> <app-data-container [data]=dataArray[0] (bindedComponent)="onBindedComponent(0, $event)"></app-data-container> </div>
    <div class="col-4 static-data-container"> <app-data-container [data]=dataArray[1] (bindedComponent)="onBindedComponent(1, $event)"></app-data-container> </div>
    <div class="col-4 static-data-container"> <app-data-container [data]=dataArray[2] (bindedComponent)="onBindedComponent(2, $event)"></app-data-container> </div>
  </div>

  <div class="row bottom-container justify-content-around"> 
    <div class="col-6 data-container"> <app-data-container [data]=dataArray[3] (bindedComponent)="onBindedComponent(3, $event)"></app-data-container> </div>
    <div class="col-6"> 
      <div class="row single-data-container"> <app-data-container [data]=dataArray[4] (bindedComponent)="onBindedComponent(4, $event)"></app-data-container> </div>
      <div class="row single-data-container"> <app-data-container [data]=dataArray[5] (bindedComponent)="onBindedComponent(5, $event)"></app-data-container> </div>
      <div class="row single-data-container"> <app-data-container [data]=dataArray[6] (bindedComponent)="onBindedComponent(6, $event)"></app-data-container> </div>
    </div>
  </div>
</div>

<div *ngIf="displayStatus == 'preH'">

  <div class="row"> 
    <h1 class ="title">ASTRA Shock Room Display - Dati PreH </h1> 
  </div>

  <div class="row single-data-container">
    <app-data-container [data]=dataArray[0] (bindedComponent)="onBindedComponent(0, $event)"></app-data-container>
  </div>

  <div class="row single-data-container">
    <app-data-container [data]=dataArray[1] (bindedComponent)="onBindedComponent(1, $event)"></app-data-container>
  </div>
</div>

<div class="dark-bg" *ngIf="displayStatus == 'idle'">

  <div class="row"> 
    <h1 class ="title">ASTRA Shock Room Display</h1> 
  </div>

  <div class="row"> 
    <h3>Waiting for patient</h3> 
  </div>

</div>


  