
  <div class="row"> 
    <h1 class ="title">ASTRA Shock Room Display</h1> 
  </div>
  <div class="row data-container justify-content-around"> 
    <div class="col-3 static-data-container"> {{dataList[0]}} </div>
    <div class="col-4 static-data-container"> {{dataList[1]}} </div>
    <div class="col-4 static-data-container"> {{dataList[2]}} </div>
  </div>

  <div class="row bottom-container justify-content-around"> 
    <div class="col-6 data-container"> {{dataList[3]}} </div>
    <div class="col-6"> 
      <div class="row single-data-container"> {{dataList[4]}} </div>
      <div class="row single-data-container"> {{dataList[5]}} </div>
      <div class="row single-data-container"> {{dataList[6]}} </div>
    </div>
  </div>
  