.row {
    margin: 2%;
    /* margin-right: 0px;
    margin-left: 0px; */
}

.title {
    color : #F2C64D;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.data-container {
    /* padding: 2%; */
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
}

.big-data-container {
    height: 600px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
}

.info-data-container{
    margin: 2%;
    padding: 0.5%;
    border-radius: 15px;
    border: 2px solid black;
    height: 175px;
    overflow: hidden;
}

.event-data-container{
    margin: 2%;
    padding: 0.5%;
    border-radius: 15px;
    border: 2px solid black;
    height: 350px;
    overflow: hidden;
}

.preh-data-container{
    padding: 0.5%;
    border-radius: 15px;
    border: 2px solid black;
    height: 30%;
    overflow: hidden;
}

.bottom-container {
    overflow: hidden;
    height: 700px;
}

.single-data-container{
    padding: 0.5%;
    border-radius: 15px;
    border: 2px solid black;
    height: 175px;
    overflow: hidden;
}

.static-data-container{
    border-radius: 15px;
    border: 2px solid black;
    height: 50px;
    margin: 1%;
    text-align: center;
    overflow: hidden;
}

.dark-bg{
    height: 100%;
    width: 100%;
    background-color: black;
}

h3{
    color: white;
}
